body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.carro{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 60px;
    opacity: 0.9;

}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: burlywood;
}
.button{
    padding-left: 50px;
    background-color: bisque;
    border: black;
}
